.nav-footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 998;
}

.nav-footer-item {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-shadow: 0px -2px 40px rgba(0, 0, 0, 0.363);
    background-color: rgb(255, 255, 255);
    padding: 15px;
    z-index: 999;
}

.nav-footer-item p {
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.nav_blue_line {
    background-color: rgb(38, 0, 255);
    width: 30px;
    height: 5px;
    border-radius: 50px;
}

.nav_add_underline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}