.home_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin: 0px 0px 0px 20px;
}

.home_header h1 {
    font-size: 0.75rem;
}

#home>header>aside>p {
    font-size: 1.25rem;
    font-weight: bold;

}

.home_header main {
    justify-content: space-between;
}

.home_header section {
    margin-top: 2rem;
}

.home_header img {
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50px;
}

#kreditcard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
}