
main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  header {
    font: urbanist;
    font-size: 5px;
    height: 20vh;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    justify-content: left;
    align-items: left;
  }
    
  .flex {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      }
      
      .income { grid-area: 1 / 1 / 2 / 2; 
      background-color: rgb(208, 208, 208);}
      .expense { grid-area: 1 / 2 / 2 / 3;
      background-color: rgb(208, 208, 208); }
      .monthlyLimit { grid-area: 2 / 1 / 3 / 3;
      background-color: rgb(208, 208, 208)y; }
  
  
  