#Login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Login label,
h2,
p {
  color: #000;
}

.Login_logo {
  position: absolute;
  top: 35px;
  left: 0;
}

.Login_text h2 {
  text-align: center;
  margin-top: 20vh;
}

.Login_text p {
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 10vh;
}

.Login_form input {
  color: #000;
  outline: none;
  background-color: antiquewhite;
  border: 2px solid #000;
  border-radius: 50px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.Login_form_input div:nth-of-type(5) label {
  margin-left: 15px;
}

.terms input[type="checkbox"] {
  color: white;
}

.terms span {
  font-weight: bold;
}

.Login_form_btn button {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem 3rem;
  border-radius: 50px;
  border: none;
  background-color: #1e90ff;
  color: #fff;
}

.Login_text a {
  color: #1e90ff;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
}

.login_error-message {
  display: block;
  color: red;
  font-weight: bold;
}