#reports_header {
    width: 100vw;
    display: flex;

    align-items: center;
    justify-content: space-between;

    /* gap: 75%; */
    /* margin-top: 20px; */
}

.reports_back {
    margin-top: 20px;
}

.reports_profil {
    margin-right: 20px;
}

.reports_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.reports_content_body_current {
    margin-right: 20px;
}

.reports_content_body,
.reports_content_body_current {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}