.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-right: 30px;
}

.allbutton {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.secabutton {
    background-color: transparent;
    border-radius: 100px 100px 100px 100px;
    -moz-border-radius: 100px 100px 100px 100px;
    -webkit-border-radius: 100px 100px 100px 100px;
    border: 5px solid grey;
}

.transacc_text {
    margin-top: 25px;
}

.money {
    display: flex;
    text-align: center;
    color: #000000;
    margin-top: 1rem;
}

.transacc-footer-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.rumsdidums {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    background: rgba(63, 63, 63, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 100vw;
    height: 30vh;
}
